<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agent Control Table</title>
</head>
<style>
    .inner-content-wrapper {
        height: 100%;
        width: 100%;
        min-width: 750px;
        display: flex;
        flex-direction: column;
    }
</style>
<body>
    <div class="inner-content-wrapper" th:fragment="manager-content-03" id="manager-content-03">
        <div class="menu-title">
            <div>
                <i class="fa-solid fa-person"></i><span>Content Name</span>
            </div>
        </div>
        <div>


        </div>
    </div>

</body>
</html>
