<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agent Control Table</title>
</head>

<body>
    <div class="inner-content-wrapper" th:fragment="manager-content-02" id="manager-content-02">
        <div class="menu-title">
            <div>
                <i class="fa-solid fa-person"></i><span>사용자 관리</span> 
            </div>
        </div>
        <div class="menu-search-bar">
            <div>
                <span class="search-items">내선번호 : </span>
                <input class="search-items" type="text">
                <div class="search-items search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>조회</span>
                </div>
                <div class="search-items excel-btn">
                    <i class="fa-regular fa-file-excel"></i>
                    <span>엑셀</span>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>ID</th>
                        <th>내선번호</th>
                        <th>상담원명</th>
                        <th>상담그룹</th>
                        <th>상담팀명</th>
                        <th>권한</th>
                        <th>CID</th>
                        <th>발신통신</th>
                        <th>판빌-공인IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1000</td>
                        <td>1000</td>
                        <td>김차차</td>
                        <td>newIPCC</td>
                        <td>테스트팀</td>
                        <td>없음</td>
                        <td>???</td>
                        <td>??????</td>
                        <td>000.0.000.0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1000</td>
                        <td>1000</td>
                        <td>김차차</td>
                        <td>newIPCC</td>
                        <td>테스트팀</td>
                        <td>없음</td>
                        <td>???</td>
                        <td>??????</td>
                        <td>000.0.000.0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1000</td>
                        <td>1000</td>
                        <td>김차차</td>
                        <td>newIPCC</td>
                        <td>테스트팀</td>
                        <td>없음</td>
                        <td>???</td>
                        <td>??????</td>
                        <td>000.0.000.0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
