/*
상세 화면 숨김 상태의 스타일은 main.css에 있음
*/

.detailbar-wrapper {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    display: flex;
    flex-direction: column; /* 내부 요소들을 세로로 정렬 */
    transition: width 0.3s; /* 숨기기와 보이기 애니메이션 효과 추가 */
}

.detailbar-title {
    background-color: #f5f5f7;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 아이템 사이에 공간을 두기 위해 설정 */
}

.detailbar-title i {
    margin-right: 8px;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
}

.detailbar-content {
    padding: 10px;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}

.detailbar-content::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 설정 */
}

.detailbar-content::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* 스크롤바 thumb 색상 */
    border-radius: 10px; /* 스크롤바 thumb의 둥글기 */
}

.detailbar-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 track의 색상 */
}

.detailbar-table table {
    width: 100%;
    border-collapse: collapse;
}

.detailbar-table td {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.info-title {
    width: 90px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8em;
    color: #6e6e73;
}

.info-content input[type="text"],
.info-content select {
    width: 100%;
    padding: 5px;
    font-size: 0.8em;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color 0.2s;
    box-sizing: border-box; /* 여기서 box-sizing 속성을 추가합니다 */
}

.info-content input[type="text"]:focus,
.info-content select:focus {
    border-color: #007aff;
}

.info-content .checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* 추가적인 세트 간의 간격 */
}

.info-content .checkbox-wrapper input[type="checkbox"] {
    margin-right: 8px;
}

.checkbox-wrapper {
    font-size: 0.8em;
}

.detailbar-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

.detailbar-btn button {
    background-color: #007aff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.2s;
    flex: 1;
    margin: 0 5px; /* 버튼 사이의 간격을 위해 좌우 마진 추가 */
}

.detailbar-btn button:first-child {
    margin-left: 0; /* 첫 번째 버튼의 왼쪽 마진 제거 */
}

.detailbar-btn button:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 마진 제거 */
}

.detailbar-btn button:hover {
    background-color: #005bb5;
}

/* 숨겼을 때의 스타일 */
.detailbar-wrapper.hidden .detailbar-content,
.detailbar-wrapper.hidden .detailbar-btn,
.detailbar-wrapper.hidden .detailbar-title span,
.detailbar-wrapper.hidden .detailbar-title .fa-window-restore {
    display: none;
}

.detailbar-wrapper.hidden .detailbar-title .fa-arrow-right {
    margin-right: 0; /* 오른쪽 마진 제거 */
}