/* 기본 스타일  */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s, background 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* Sidebar Style */
.menu-wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    height: 100%;
    min-width: 180px;
    max-width: 180px;
    background: #f8f9fa;
    color: #343a40;
    transition: all 0.3s;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

/* Sidemenu 페이지 스크롤 스타일 */
ul.components {
    overflow-y: auto;
    overflow-x: hidden !important;
    height: calc(100% - 65px); /* 필요에 따라 높이 조정 (부모 높이 - 관리자메뉴 header )*/
    margin-bottom: 0px !important;
}

/* WebKit 기반 브라우저를 위한 커스텀 스크롤바 스타일 */
ul.components::-webkit-scrollbar {
    width: 3px; /* 스크롤바 너비 설정 */
}

ul.components::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* 스크롤바 thumb 색상 */
    border-radius: 10px; /* 스크롤바 thumb의 둥글기 */
}

ul.components::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 track의 색상 */
}


#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

#sidebar.active .sidebar-header span {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 10px 10px;
    text-align: center;
}

/* 사이드메뉴 축소 상태의 메뉴 폰트 사이즈 */
#sidebar.active a[data-bs-toggle="collapse"] {
    font-size: 0.7em;
    font-weight: bold;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 5px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 3px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #f8f9fa;
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#sidebar .sidebar-header strong {
    display: none;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 5px;
    display: block;
}

#sidebar ul li a:hover {
    color: #343a40;
    background: #f8f9fa;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #343a40;
    background: #f8f9fa;
}

/* 사이드 메뉴 폰트 사이즈 */
a[data-bs-toggle="collapse"] {
    position: relative;
    font-size: 0.85em;
    font-weight: bold;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.7em !important;
    padding-left: 20px !important;
    background: #f8f9fa;
}

a.article,
a.article:hover {
    background: #f8f9fa !important;
    color: #343a40 !important;
}

/* MEDIAQUERIES */
@media (max-width: 768px) {
    #sidebar {
        min-width: 100px;
        max-width: 100px;
        text-align: center;
        margin-left: -100px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header span {
        display: none;
    }

    #sidebarCollapse span {
        display: none;
    }
}
