<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="AgentAuth" type="com.ipcc.manager.model.dto.agent.AgentAuth"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/agent_mapper.xml"/>
    </mappers>
</configuration>