<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Manager" type="com.ipcc.manager.model.dto.manager.Manager"/>
        <typeAlias alias="AgentAuth" type="com.ipcc.common.model.dto.agent.AgentAuth"/>
        <typeAlias alias="Agent" type="com.ipcc.common.model.dto.agent.Agent"/>
        <typeAlias alias="CustCid" type="com.ipcc.crm.model.dto.cust.CustCid"/>
        <typeAlias alias="Guest" type="com.ipcc.crm.model.dto.guest.Guest"/>
        <typeAlias alias="Category" type="com.ipcc.crm.model.dto.counsel.Category"/>
        <typeAlias alias="CategoryLog" type="com.ipcc.crm.model.dto.counsel.CategoryLog"/>
        <typeAlias alias="CounselLog" type="com.ipcc.crm.model.dto.counsel.CounselLog"/>
        <typeAlias alias="CounselLogFilter" type="com.ipcc.crm.model.dto.counsel.CounselLogFilter"/>

        <!-- 상담원 이벤트 로그 테이블 -->
        <typeAlias alias="AgentEventLog" type="com.ipcc.common.model.dto.agent.AgentEventLog"/>
        <!-- 상담원 모니터링 테이블 -->
        <typeAlias alias="AgentMon" type="com.ipcc.manager.model.dto.agent.AgentMon"/>
    </typeAliases>
    <mappers>
        <!-- primary 사용 메퍼 -->
        <mapper resource="mapper/agent_mapper.xml"/>
        <mapper resource="mapper/manager_mapper.xml"/>
        <mapper resource="mapper/guest_mapper.xml"/>
        <mapper resource="mapper/counsel_mapper.xml"/>

        <!-- secondary 사용 메퍼 -->
        <mapper resource="mapper/asterisk/asterisk_agent_mapper.xml"/>
        <mapper resource="mapper/asterisk/asterisk_cust_mapper.xml"/>
    </mappers>

</configuration>