.content-nowrap-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;         /* 부모 요소가 커지면 함께 커지도록 설정 */
    flex-shrink: 1;       /* 부모 요소가 작아지면 함께 줄어들도록 설정 */
    gap: 10px;
}

.statistics-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.statistics-chart {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.statistics-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #1C1C1E;
    margin-bottom: 30px;
}

.statistics-chart-controller {
    display: flex;
    gap: 10px;
}

.statistics-chart-controller a {
    padding: 5px 12px;
    border-radius: 12px;
    background-color: #f0f0f5;
    color: #007AFF;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.statistics-chart-controller a:hover {
    background-color: #d0d4de;
}

.statistics-chart-wrap {
    width: 100%;  /* 부모 컨테이너가 화면 너비에 맞게 조정 */
    max-width: 100%;  /* 부모 컨테이너 최대 너비 제한 */
}

.statistics-chart-box {
    margin-bottom: 20px;
}

#statisticsChart {
    width: 100%;  /* 캔버스 너비를 100%로 설정 */
    max-width: 100%;  /* 최대 너비를 부모에 맞게 제한 */
    height: 280px;
}



