<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>통계 - 사이드 메뉴</title>
</head>
<body>
    <div class="sub-menu" th:fragment="statistics-menu">
        <div class="sub-menu-header">
            <span>통계</span>
            <button id="sts-toggle-btn"><i class="fa-solid fa-right-left"></i></button>
        </div>
        <div class="sub-menu-content">
            <a href="#">상담원별 콜현황</a>
            <a href="#">대표번호별 콜현황</a>
            <a href="#">기간별 콜현황</a>
        </div>
    </div>
</body>
</html>
