<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="statistics-table" th:fragment="statistics-table">
        <div class=statistics-table-controller"">
            <span>상세 내용</span>
            <button>다운로드</button>
        </div>
        <div class="statistics-table-wrap">
            <table>
                <thead>
                    <tr>
                        <th class="sortable">시간</th>
                        <th class="sortable">알림톡</th>
                        <th class="sortable">문자</th>
                        <th class="sortable">통화성공</th>
                        <th class="sortable">통화실패</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>