.cust-info-search-wrap {
    flex: 1;
    min-width: 410px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 효과 */
}

.cust-info-searchTitle {
    display: flex;
    padding: 8px 10px;
    margin-bottom: 20px;
    background-color: #f0f0f5;
    border-bottom: 1px solid #e2e2e7;
    border-radius: 10px; /* 둥근 모서리 */
}

.cust-info-searchTitle-item {
    background-color: #0071e3;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px; /* 둥근 모서리 */
    gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 클릭된 요소 그림자 */
}

.cust-info-searchTitle-item i {
    background-color: #0051a1;
    padding: 5px;
    border-radius: 8px;
}

.cust-info-searchbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cust-info-searchbar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}

.cust-info-searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0071e3;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 버튼에 그림자 추가 */
}

.cust-info-searchBtn i {
    margin-right: 8px;
}

.cust-info-searchBtn:hover {
    background-color: #005bb5;
}

.cunst-info-searched {
    margin-top: 20px;
}

.cunst-info-searched table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
}

.cunst-info-searched th,
.cunst-info-searched td {
    padding: 10px;
    border-bottom: 1px solid #e2e2e7;
    text-align: left;
    color: #333;
}

.cunst-info-searched th {
    background-color: #f0f0f5;
    font-weight: bold;
    color: #0071e3;
}

.cunst-info-searched tbody tr:hover {
    background-color: #f8f8f8;
    transform: translateY(-2px); /* 살짝 올라가는 효과 */
    transition: background-color 0.3s ease, transform 0.2s ease;
}