<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운영 - 메인</title>
</head>
<body>
    <div th:fragment="management-content" class="content">
        <div class="content-nowrap-box">
            <div class="management-menu" th:replace="~{crm/crm-management/management-menu}">
                <!--운영 사이드 메뉴-->
            </div>
            <div class="management-content">
                <!--운영 콘텐츠-->
            </div>
        </div>
    </div>
</body>
</html>
</html>