<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger for specific JDBC loggers -->
    <logger name="jdbc.sqlonly" level="INFO">
        <appender-ref ref="console-infolog" />
    </logger>

    <logger name="jdbc.resultsettable" level="INFO">
        <appender-ref ref="console-infolog" />
    </logger>

    <!-- Disable specific JDBC logs -->
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="jdbc.audit" level="ERROR"/>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>
