<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <!-- JDBC 관련 로그 억제 -->
    <logger name="jdbc.sqltiming" level="ERROR" />
    <logger name="jdbc.sqlonly" level="ERROR" />
    <logger name="jdbc.resultset" level="ERROR" />
    <logger name="jdbc.resultsettable" level="ERROR" />
    <logger name="jdbc.audit" level="ERROR" />
    <logger name="jdbc" level="ERROR" /> <!-- 모든 jdbc.* 로그 레벨 제어 -->

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>
