<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상담 관리 메뉴 - 콘텐츠</title>
</head>
<body>
    <div th:fragment="crm-callmanagement-content" class="content">
        <div class="submenu">

        </div>
        <div class="cmg-content">
            <div class="cmg-content-a"> 
                <!-- 실시간 콜 현황 (고객대기/상담원대기/상담 중/)-->
            </div>
            <div class="cmg-content-b">
                <!-- 전화 상담 현황 ( 시간별, 인/아웃/콜백/문자 ... )-->
            </div>
            <div class="cmg-content-c">
                <!-- ARS 시나리오별 현황 -->
            </div>
        </div>
    </div>
</body>
</html>