<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipcc.common.mapper.AgentMapper">

    <!-- ResultMap 정의 -->
    <resultMap id="AgentAuth" type="AgentAuth">
        <id property="agentId" column="id"/>
        <result property="authType" column="auth_type"/>
        <result property="agentPw" column="password"/>
        <result property="agentName" column="username"/>
    </resultMap>

    <resultMap id="Agent" type="Agent">
        <id property="agentId" column="id"/>
        <result property="agentName" column="name"/>
        <result property="agentPw" column="password"/>
        <result property="ccode" column="ccode"/>
    </resultMap>

    <!-- 상담원 이벤트 로그 -->
    <resultMap id="AgentEventLog" type="AgentEventLog">
        <id property="eventId" column="EVENT_ID"/>
        <result property="custId" column="CUST_ID"/>
        <result property="agentExt" column="AGENT_EXT"/>
        <result property="agentName" column="AGENT_NAME"/>
        <result property="cid" column="CID"/>
        <result property="did" column="DID"/>
        <result property="inOut" column="INOUT"/>
        <result property="eventName" column="EVENT_NAME"/>
        <result property="timeStart" column="TIME_START"/>
        <result property="timeUse" column="TIME_USE"/>
        <result property="timeEnd" column="TIME_END"/>
        <result property="ipAddress" column="IP_ADDRESS"/>
    </resultMap>

    <!-- 상담원 모니터링 테이블 -->
    <resultMap id="AgentMon" type="AgentMon">
        <id property="custId" column="CUST_ID"/>
        <result property="agentExt" column="AGT_EXT"/>
        <result property="did" column="DID"/>
        <result property="cid" column="CID"/>
        <result property="agentName" column="AGT_NAME"/>
        <result property="divInOut" column="DIV_INOUT"/>
        <result property="divStat" column="DIV_STAT"/>
        <result property="timeStart" column="TIME_START"/>
        <result property="divLogin" column="DIV_LOGIN"/>
        <result property="stackLogin" column="STACK_LOGIN"/>
        <result property="stackOut" column="STACK_OUT"/>
        <result property="stackIn" column="STACK_IN"/>
        <result property="sipUrl" column="SIP_URL"/>
        <result property="resetTime" column="RESET_TIME"/>
    </resultMap>

    <!-- 상담원 리스트 조회 -->
    <select id="selectAgentList" resultMap="AgentAuth">
        SELECT *
        FROM ps_auths;
    </select>
    <!-- 상담원 상태 조회 (모니터링) -->
    <select id="selectAgentStatus" parameterType="Agent" resultMap="AgentMon" >
        SELECT *
        FROM agent_mon
        WHERE CUST_ID = #{ccode};
    </select>

    <!-- 상담원 등록 -->
    <insert id="insertAgent" parameterType="AgentAuth">
        INSERT INTO ps_auths(id, auth_type, password, username)
        VALUES (#{agentId}, #{authType}, #{agentPw}, #{agentName});
    </insert>

    <!-- 상담원 조회 -->
    <select id="selectAgent" parameterType="Agent" resultMap="Agent">
        SELECT *
        FROM agent
        WHERE id = #{agentId} and password = #{agentPw} and ccode = #{ccode};
    </select>
    
    <!-- 현재 상담원 상태 조회 -->
    <select id="currentAgentEvent" parameterType="String" resultMap="AgentEventLog">
        SELECT *
        FROM agent_log
        WHERE AGENT_EXT = #{agentExt}
        AND TIME_END IS NULL
        ORDER BY TIME_START DESC
        LIMIT 1;
    </select>

    <!-- 상담원 로그인/아웃 이벤트 등록 -->
    <insert id="insertAgentLogInOutEvent" parameterType="AgentEventLog">
        INSERT INTO agent_log (AGENT_EXT,
                               CUST_ID,
                               AGENT_NAME,
                               EVENT_NAME,
                               TIME_START,
                               TIME_END)
        VALUES (#{agentExt}, #{custId}, #{agentName}, #{eventName}, NOW(), NOW());
    </insert>

    <!-- 상담원 이벤트 로그 등록(NEW) -->
    <insert id="insertAgentEvent" parameterType="AgentEventLog">
        INSERT INTO agent_log (AGENT_EXT,
                               CUST_ID,
                               AGENT_NAME,
                               CID,
                               DID,
                               DIV_INOUT,
                               EVENT_NAME,
                               TIME_START)
        VALUES (#{agentExt}, #{custId}, #{agentName}, #{cid}, #{did}, #{divInOut}, #{eventName}, NOW());
    </insert>

    <!-- 상담원 이벤트 로그 update -->
    <update id="updateAgentEvent" parameterType="AgentEventLog">
        UPDATE agent_log
        SET TIME_USE = TIMESTAMPDIFF(SECOND, TIME_START, NOW()),
            TIME_END = NOW()
        WHERE TIME_END IS NULL
        AND AGENT_EXT = #{agentExt};
    </update>

    <!-- 상담원 상태 변경시 상담원 모니터링 테이블 insert/update -->
    <insert id="updateAgentMon" parameterType="AgentMon">
        INSERT INTO agent_mon (CUST_ID, AGT_EXT, DID, CID, AGT_NAME, DIV_INOUT, DIV_STAT, TIME_START, DIV_LOGIN, SIP_URL)
        VALUES (#{custId}, #{agentExt}, #{did}, #{cid}, #{agentName},#{divInOut}, #{divStat}, NOW(), #{divLogin}, CONCAT(#{agentName}, '@praymyk.co.kr'))
            ON DUPLICATE KEY UPDATE
                                 CUST_ID = VALUES(CUST_ID),
                                 DID = VALUES(DID),
                                 CID = VALUES(CID),
                                 AGT_NAME = VALUES(AGT_NAME),
                                 DIV_INOUT = VALUES(DIV_INOUT),
                                 DIV_STAT = VALUES(DIV_STAT),
                                 TIME_START = VALUES(TIME_START),
                                 DIV_LOGIN = VALUES(DIV_LOGIN)
    </insert>
    
    <!-- 상담원 현황(모니터링) 조회용 select-->
    <select id="selectAgentListStatus" parameterType="String" resultType="com.ipcc.manager.model.dto.agent.AgentListStatus">
        SELECT
            COUNT(*) AS totalAgents,
            SUM(CASE WHEN DIV_STAT = 'Ready' THEN 1 ELSE 0 END) AS readyAgents,
            SUM(CASE WHEN DIV_STAT = 'Processing' THEN 1 ELSE 0 END) AS afterAgents,
            SUM(CASE WHEN DIV_STAT = 'Rest' THEN 1 ELSE 0 END) AS restAgents,+
            SUM(CASE WHEN DIV_STAT = 'Preparing' THEN 1 ELSE 0 END) AS etcAgent,
            SUM(CASE WHEN DIV_LOGIN = 'on' THEN 1 ELSE 0 END) AS loginAgents,
            SUM(CASE WHEN DIV_INOUT = 'in' THEN 1 ELSE 0 END) AS inCallAgents,
            SUM(CASE WHEN DIV_INOUT = 'out' THEN 1 ELSE 0 END) AS outCallAgents
            FROM agent_mon
            WHERE CUST_ID = #{ccode};
    </select>

    <!-- 상담원 현황(모니터링 조회용 select2) -->
    <select id="selectTodayCallStatus" parameterType="String" resultType="com.ipcc.manager.model.dto.agent.TodayCallStatus">
        SELECT
            SUM(CASE WHEN DIV_INOUT = 'out' AND EVENT_NAME = 'Try' THEN 1 ELSE 0 END) AS outCallTry,
            SUM(CASE WHEN DIV_INOUT = 'out' AND EVENT_NAME ='OnCall' THEN 1 ELSE 0 END) AS outCall,
            SUM(CASE WHEN DIV_INOUT = 'in' AND EVENT_NAME = 'Try' THEN 1 ELSE 0 END) AS totalCall,
            SUM(CASE WHEN DIV_INOUT = 'in' AND EVENT_NAME = 'Try' THEN 1 ELSE 0 END) AS watingCall,
            SUM(CASE WHEN DIV_INOUT = 'in' AND EVENT_NAME ='OnCall' THEN 1 ELSE 0 END) AS responseCall,
            SUM(CASE WHEN DIV_INOUT = 'in' AND (EVENT_NAME = 'Canceled' OR EVENT_NAME = 'Rejected') THEN 1 ELSE 0 END) AS abandonCall
            FROM agent_log
            WHERE CUST_ID = #{ccode}
            AND DATE(TIME_START) = CURDATE();
    </select>


</mapper>