<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipcc.common.mapper.AgentMapper">

    <!-- ResultMap 정의 -->
    <resultMap id="AgentAuth" type="AgentAuth">
        <id property="agentId" column="id"/>
        <result property="authType" column="auth_type"/>
        <result property="agentPw" column="password"/>
        <result property="agentName" column="username"/>
    </resultMap>

    <resultMap id="Agent" type="Agent">
        <id property="agentId" column="id"/>
        <result property="agentName" column="name"/>
        <result property="agentPw" column="password"/>
        <result property="ccode" column="ccode"/>
    </resultMap>

    <!-- 상담원 이벤트 로그 -->
    <resultMap id="AgentEventLog" type="AgentEventLog">
        <id property="eventId" column="EVENT_ID"/>
        <result property="agentExt" column="AGENT_EXT"/>
        <result property="agentName" column="AGENT_NAME"/>
        <result property="eventName" column="EVENT_NAME"/>
        <result property="timeStart" column="TIME_START"/>
        <result property="timeUse" column="TIME_USE"/>
        <result property="timeEnd" column="TIME_END"/>
        <result property="ipAddress" column="IP_ADDRESS"/>
    </resultMap>


    <!-- 상담원 리스트 조회 -->
    <select id="selectAgentList" resultMap="AgentAuth">
        SELECT *
        FROM ps_auths;
    </select>

    <!-- 상담원 등록 -->
    <insert id="insertAgent" parameterType="AgentAuth">
        INSERT INTO ps_auths(id, auth_type, password, username)
        VALUES (#{agentId}, #{authType}, #{agentPw}, #{agentName});
    </insert>

    <!-- 상담원 조회 -->
    <select id="selectAgent" parameterType="Agent" resultMap="Agent">
        SELECT *
        FROM agent
        WHERE id = #{agentId} and password = #{agentPw} and ccode = #{ccode};
    </select>
    
    <!-- 현재 상담원 상태 조회 -->
    <select id="currentAgentEvent" parameterType="String" resultMap="AgentEventLog">
        SELECT *
        FROM agent_log
        WHERE AGENT_EXT = #{agentExt}
        AND TIME_END IS NULL
        ORDER BY TIME_START DESC
        LIMIT 1;
    </select>

    <!-- 상담원 이벤트 로그 write -->
    <insert id="insertAgentEvent" parameterType="AgentEventLog">
        INSERT INTO agent_log (AGENT_EXT,
                               AGENT_NAME,
                               EVENT_NAME,
                               TIME_START,
                               TIME_END)
        VALUES (#{agentExt}, #{agentName}, #{eventName}, #{timeStart},#{timeEnd});
    </insert>

    <!-- 상담원 로그아웃 이벤트 로그 write -->
    <insert id="insertAgentLogoutEvent" parameterType="AgentEventLog">
        INSERT INTO agent_log (AGENT_EXT,
                               AGENT_NAME,
                               EVENT_NAME,
                               TIME_START,
                               TIME_END)
        VALUES (#{agentExt}, #{agentName}, #{eventName}, #{timeStart}, #{timeEnd});
    </insert>

    <!-- 상담원 이벤트 로그 update -->
    <update id="updateAgentEvent" parameterType="AgentEventLog">
        UPDATE agent_log
        SET TIME_USE = TIMESTAMPDIFF(SECOND, TIME_START, NOW()),
            TIME_END = NOW()
        WHERE TIME_END IS NULL;
    </update>

</mapper>