<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipcc.common.mapper.primary.GuestMapper">

    <!-- ResultMap 정의 -->
    <resultMap id="Guest" type="Guest">
        <id property="guestId" column="GUEST_ID"/>
        <result property="custId" column="CUST_ID"/>
        <result property="agentId" column="AGT_ID"/>
        <result property="name" column="GUEST_NAME"/>
        <result property="birthDay" column="BIRTHDAY"/>
        <result property="gender" column="GENDER"/>
        <result property="grade" column="GUEST_GRADE"/>
        <result property="email" column="EMAIL"/>
        <result property="address" column="ADDRESS"/>
        <result property="phone" column="PHONE"/>
        <result property="enrollDate" column="ENROLL_DATE"/>
        <result property="unrollDate" column="UNROLL_DATE"/>
        <result property="guestMemo" column="GUEST_MEMO"/>
        <result property="black" column="BLACK"/>
        <result property="state" column="STATE"/>
    </resultMap>

    <select id="searchGuestList" resultMap="Guest">
        SELECT *
        FROM crm_guest
        WHERE CUST_ID = #{custId}

        <!-- 검색어가 있을 경우 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (AGT_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
            OR AGT_EXT LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>

        <!-- 정렬 기준 적용 -->
        ORDER BY
        <choose>
            <!-- 검색 조건이 없을 경우 AGT_NO 기본 오름차순 정렬 -->
            <when test="orderBy == null or orderBy == ''">
                AGT_NO ASC
            </when>
            <!-- 검색 조건이 있을 경우 선택한 필드로 정렬 -->
            <when test="orderBy == 'guestId'"> GUEST_ID </when>
            <when test="orderBy == 'custId'"> CUST_ID </when>
            <when test="orderBy == 'agentId'"> AGT_ID </when>
            <when test="orderBy == 'name'"> GUEST_NAME </when>
            <when test="orderBy == 'birthDay'"> BIRTHDAY </when>
            <when test="orderBy == 'gender'"> GENDER </when>
            <when test="orderBy == 'grade'"> GUEST_GRADE </when>
            <when test="orderBy == 'email'"> EMAIL </when>
            <when test="orderBy == 'address'"> ADDRESS </when>
            <when test="orderBy == 'phone'"> PHONE </when>
            <when test="orderBy == 'enrollDate'"> ENROLL_DATE </when>
            <when test="orderBy == 'unrollDate'"> UNROLL_DATE </when>
            <when test="orderBy == 'guestMemo'"> GUEST_MEMO </when>
            <when test="orderBy == 'black'"> BLACK </when>
            <when test="orderBy == 'state'"> STATE </when>

            <otherwise> GUEST_ID </otherwise>  <!-- 기본적으로 AGT_NO 사용 -->
        </choose>

        <!-- 오름차순 또는 내림차순 적용 -->
        <choose>
            <when test="orderDirection != null and orderDirection == 'ASC'"> ASC </when>
            <otherwise> DESC </otherwise> <!-- 기본값은 내림차순 -->
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


</mapper>