<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전화 상담 메뉴 콘텐츠</title>
</head>
<body>
    <div th:fragment="counsel-content" class="content">
        <div class="call-info-wrap" th:replace="~{crm/crm-counsel/call-stat :: call-stat}">
        </div>

        <div class="counsel-log-wrap" th:replace="~{crm/crm-counsel/counsel-log :: counsel-log}">
        </div>

        <div class="cust-info-controller">
            <div class="cust-info-search" th:replace="~{crm/crm-counsel/cust-info-search :: cust-info-search}"></div>
            <div class="cust-info-wrap" th:replace="~{crm/crm-counsel/cust-info :: cust-info}"></div>
        </div>
    </div>

</body>
</html>
